<br>
<br>
<br>
<br>
<br>
<br>
 <div class="jumbotron jumbotron-edit">
  <div class = "index-header">
   <h1 class = "fancy"><center><%= image_tag("BP_logo_grey.gif", :alt => "Blocipedia") %></center></h1>
   <br>
   <br>
   <br>
 </div>
 </div>
 <div class ="jumbotron jumbotron-edit2 white-text"><p><center><h4 class = "white-font">Have you ever wondered if a site existed that had all the useless information you could ever want? Welcome to Blocipedia!</h4></center></p></div>
 
 <div class = "index-info">
 <div class="row">
   <div class="col-xs-6 col-md-3">
    <div class = "img"><%= image_tag("BPicon.gif", :alt => "Blocipedia") %></div>
     <h2>Write a Bloci</h2>
     <p>Share your information with the world.</p></div>
   </div>
   <div class="col-xs-6 col-md-3">
     <div class = "img"><%= image_tag("BPicon.gif", :alt => "Blocipedia") %></div>
     <h2>Search for Blocis</h2>
     <p>Learn new things at home, on the go, or even in the shower!</p>
   </div>
   <div class="col-xs-6 col-md-3">
     <div class = "img"><%= image_tag("BPicon.gif", :alt => "Blocipedia") %></div>
     <h2>Edit Blocis</h2>
     <p>See something that doesn't quite add up? Edit the information to make more sense!</p>
   </div>
 </div>
 </div>