<br>
<br>
<br>
<br>
<br>
<br>
 <div class="jumbotron jumbotron-edit">
  <div class = "index-header">
   <h1 class = "fancy"><center><%= image_tag("chomptionary2.png", :alt => "Welcome to the Chomptionary!") %></center></h1>
   <br>
 </div>
 </div>
 <div class ="jumbotron jumbotron-edit3 dark1-text"><p><center><h4 class = "white-font">Hook, line, and sinker - you know you're going to need a bigger boat for all these tips and teeth!</h4></center></p></div>
 
 <div class="row">
   <div class="col-md-4"><div class = "img"><%= image_tag("hamerhead.png", :alt => "Blocipedia") %></div>
     <h2>Hook a Reader</h2>
     <p>Got some great shark facts? Don't keep them to yourself!</p>
   </div>
    <div class="col-md-4"><div class = "img"><%= image_tag("hamerhead.png", :alt => "Blocipedia") %></div>
     <h2>Info at your FIN-gertips</h2>
     <p>Expand your shark-based knowledge!</p>
   </div>
    <div class="col-md-4"><div class = "img"><%= image_tag("hamerhead.png", :alt => "Blocipedia") %></div>
     <h2>Chomp it!</h2>
     <p>Take a bite out of a public file and insert your own knowledge!</p>
   </div>
 </div>
  <br>
 <br>
 <div class = "jumbotron jumbotron-edit2">
  <center>
   Contact | About us | Upgrade
   <br>
   <br>
   Donate | Help | Etc
   <br>
   <br>
   Search <input type="text" name="search"> <button>Submit</button>
  </center>
 </div>