<div class = "bg-test">
<div class = "test">


 <center><div class="index-view">
  <div class = "index-header">
   <h1 class = "fancy"><%= image_tag("chomptionary2.png", :alt => "Welcome to the Chomptionary!") %></h1>
 </div>
 </div></center>
  <div class = "row">
 <div class = "chat col-md-2">
  Chat Box
 </div>
 </div>
 

  <div class="row spacing">
   <p>
       <div class = "col-md-2">PLACEHOLDER</div>
   </p>
   <p>
       <div class = "col-md-2">PLACEHOLDER</div>
   </p>
  </div>

<center><div class ="diamonds dark1-text"><p><h4 class = "white-font">Hook, line, and sinker - you know you're going to need a bigger boat for all these tips and teeth!</h4></p></div></center>
 
 <div class="row">
   <div class="col-md-4"><div class = "img"><%= image_tag("hamerhead.png", :alt => "Blocipedia") %></div>
     <h2>Hook a Reader</h2>
     <p>Got some great shark facts? Don't keep them to yourself!</p>
   </div>
    <div class="col-md-4"><div class = "img"><%= image_tag("hamerhead.png", :alt => "Blocipedia") %></div>
     <h2>Info at your FIN-gertips</h2>
     <p>Expand your shark-based knowledge!</p>
   </div>
    <div class="col-md-4"><div class = "img"><%= image_tag("hamerhead.png", :alt => "Blocipedia") %></div>
     <h2>Chomp it!</h2>
     <p>Take a bite out of a public file and insert your own knowledge!</p>
   </div>
 </div>
 

 

 
</div>
</div>
 <div class = "bottom-bar-agreeable">
  <center>
   Contact | About us | Upgrade
   <br>
   <br>
   Donate | Help | Etc
   <br>
   <br>
   Search <input type="text" name="search"> <button>Submit</button>
  </center>
 </div>