<br>
<br>
<br>
<br>
<br>
<br>
 <div class="jumbotron">
   <h1>Blocipedia</h1>
   <p>Have you ever wondered if a site existed that had all the useless information you could ever want? Welcome to Blocipedia!</p>
 </div>
 
 <div class="row">
   <div class="col-md-4">
     <h2>Write a Bloci</h2>
     <p>Share your information with the world.</p>
   </div>
   <div class="col-md-4">
     <h2>Search for Blocis</h2>
     <p>Learn new things at home, on the go, or even in the shower!</p>
   </div>
   <div class="col-md-4">
     <h2>Edit Blocis</h2>
     <p>See something that doesn't quite add up? Edit the information to make more sense!</p>
   </div>
 </div>