
<br>
<br>
<br>
<br>
<div class="jumbotron jumbotron-edit3">
  <div class = "index-header">
   <h1 class = "fancy"><center><%= image_tag("BP_logo_grey.gif", :alt => "Blocipedia") %></center></h1>
   <br>
   <br>
   <br>
   <div><center><h4 class = "fancy">check them out!</h4></center></div>
 </div>
 </div>
<div class = "new-wiki">
<h2><%= link_to "New", new_wiki_path, class: 'btn pull-right' %></h2>
</div>

<% @wiki.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <!--<h4 class="media-heading">-->
      <h4 class="wiki-title">
        <%= link_to wiki.title, wiki %>
      </h4>
    </div>
  </div>
<% end %>