<br>
<br>
<br>
<br>

 <h1>Create a Wiki</h1>
 <p><h4>(not to be confused with a wookie!)</h4></p>
<div class="content">
  <%= render 'form' %>
</div>

<div class = "markdown">
  <h3>Markdown Cheat-Sheet!</h3>
  <li>
    <ol><strong>Bold</strong>: ** or __</ol>
    <ol><strikethrough>Delete</strikethrough>: ~~</ol>
    <ol><em>Italic</em>: *</ol>
  </li>
</div>

 <div class = "bottom-bar">
  <center>
   Contact | About us | Upgrade
   <br>
   <br>
   Donate | Help | Etc
   <br>
   <br>
   Search <input type="text" name="search"> <button>Submit</button>
  </center>
 </div>