 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 h1 {
  font-size: 50px;
}
 .jumbotron-edit {
  // background-color: lightblue;
  background-image: url("bgbloci.jpg")
  // border-radius: 4px;
  // margin: 20px;
 }
  .jumbotron-edit2 {
   background-color: darkgrey;
 }
 .jumbotron-edit3 {
  // background-image: url("gembg_gif.gif")
  background-color: #475d91;
 }
 .fancy {
  font-family: 'Norican', cursive;
 }
 .white-text {
  color: white;
 }
 .welcome-font {
  // text-shadow: -1px 0 violet, 0 1px violet, 1px 0 violet, 0 -1px violet;
  
 }
 .img {
  float: left;
  margin-right: 10px;
 }
.text-space {
 margin-right: 10px;
}
 .index-header {
  margin-left: 50px;
 }
 .index-info {
  margin-left: 50px;
  margin-right: 50px;
 }
 .main-links:active {
  font-family: 'Norican', cursive;
 }
 .new-wiki {
    margin-right: 50px;
}
 .wiki-title {
    margin-left: 50px;
    text-decoration: none;
    
}
 .wiki-title:hover {
    margin-left: 50px;
    text-decoration: underline;
    background-color: lightblue;
    color: white;
    
}
 .wiki-title:active {
    margin-left: 50px;
    text-decoration: none;
    font-style: italic;
    background-color: lightblue;
    color: white;
    
}

.show-view {
 margin-left: 50px;
 margin-right: 50px;
}

// .user-nav {
//  color: purple;
//  font-family: Arial;
//  margin: 10px;
    
// }
// .navbar-link {
//     color: purple;
//     text-decoration: none;
//     margin: 10px;
// }
// .navbar-link:active {
//     background-color: purple;
//     color: white;
//     border-radius: 4px;
//     padding: 10px;
    
// }
// .navbar-link:hover {
//     background-color: purple;
//     color: pink;
//     border-radius: 4px;
//     padding: 10px;
// }

 