 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 h1 {
  font-size: 50px;
}

.spacing {
 margin: 20px;
}

.bottom-bar {
 background-color: #8da8a4;
 width: 100%;
 padding: 30px;
}
// universal

.background-general {
 background-image: url("diamonds_bg3.png")
}
 .jumbotron-edit {
  margin-top: 100px;
  background-color: #8da8a4;
 }
  .jumbotron-edit2 {
   background-color: darkgrey;
 }
 .jumbotron-edit3 {
  background-image: url("diamonds_bg3.png")
 }
 .fancy {
  font-family: 'Norican', cursive;
 }
 .dark-text {
  color: darkgrey;
 }
 .user-info {
  margin-top: 50px;
 }
 .img {
  float: left;
  margin-right: 20px;
 }
.text-spacing {
 margin-right: 10px;
}
 .index-header {
  margin-left: 50px;
 }
 .index-info {
  margin-left: 50px;
  margin-right: 50px;
 }
 .main-links:active {
  font-family: 'Norican', cursive;
 }
 
 // wikis
 
 .new-wiki {
    margin-right: 50px;
}
 .wiki-title {
    margin-left: 50px;
    text-decoration: none;
    
}
 .wiki-title:hover {
    margin-left: 50px;
    text-decoration: underline;
    background-color: lightblue;
    color: white;
    
}
 .wiki-title:active {
    margin-left: 50px;
    text-decoration: none;
    font-style: italic;
    background-color: lightblue;
    color: white;
    
}

.show-view {
 margin-left: 50px;
 margin-right: 50px;
}


//CHARGES

.charges-form {
 margin-top: 200px;
 margin-left: 100px;

}
.charges-form2 {
 margin-top: 200px;
}

// .user-nav {
//  color: purple;
//  font-family: Arial;
//  margin: 10px;
    
// }
// .navbar-link {
//     color: purple;
//     text-decoration: none;
//     margin: 10px;
// }
// .navbar-link:active {
//     background-color: purple;
//     color: white;
//     border-radius: 4px;
//     padding: 10px;
    
// }
// .navbar-link:hover {
//     background-color: purple;
//     color: pink;
//     border-radius: 4px;
//     padding: 10px;
// }

 