.user-nav {
 color: purple;
 font-family: Arial;
 margin: 10px;
    
}
.navbar-link {
    color: purple;
    text-decoration: none;
    margin: 10px;
}
.navbar-link:active {
    background-color: purple;
    color: white;
    border-radius: 4px;
    padding: 10px;
    
}
.navbar-link:hover {
    background-color: purple;
    color: pink;
    border-radius: 4px;
    padding: 10px;
}