 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 h1 {
  font-size: 50px;
}

.unique-nav {
 background-color: white;
 width: 100%;
}

.spacing {
 margin: 20px;
}

.bottom-bar {
 // background-color: #8da8a4;
 background-color: lightblue;
 width: 100%;
 padding: 30px;
 position: absolute;
 bottom: 0;
}

.bottom-bar-agreeable {
 // background-color: #8da8a4;
 background-color: lightblue;
 width: 100%;
 padding: 30px;
 bottom: 0;
}
// universal

.test {
 margin: auto;
 background-color: white;
 width: 90%;
 height: 90%;
 padding: 30px;
}
.bg-test {
 background-image: url("diamonds_bg3.png");
}

.background-general {
 background-image: url("diamonds_bg3.png")
}
  .index-view {
   padding: 30px;
   border-radius: 4px;
   margin-top: 20px;
   margin-bottom: 20px;
   // background-color: #8da8a4;
   background-color: lightblue;
   // width: 900px;
 }
 .diamonds {
   margin: 100px;
   box-shadow: 10px 10px 5px grey;
   padding: 30px;
   border-radius: 4px;
   background-image: url("diamonds_bg3.png");
   // width: 75%;
 }
 .fancy {
  font-family: 'Norican', cursive;
 }
 .dark-text {
  color: darkgrey;
 }
 .user-info {
  margin-top: 50px;
 }
 .img {
  float: left;
  margin-right: 20px;
 }
.text-spacing {
 margin-right: 10px;
}
 .index-header {
  margin-left: 50px;
 }
 .index-info {
  margin-left: 50px;
  margin-right: 50px;
 }
 .main-links:active {
  font-family: 'Norican', cursive;
 }
 
 //chat
 .chat {
  width: 10%;
  margin-top: 100px;
  background-color: lightgrey;
  float: right;
 }
 
 // wikis
 
 .new-wiki {
    margin-right: 50px;
}
 .wiki-title {
    margin-left: 50px;
    text-decoration: none;
    
}
 .wiki-title:hover {
    margin-left: 50px;
    text-decoration: underline;
    background-color: lightblue;
    color: white;
    
}
 .wiki-title:active {
    margin-left: 50px;
    text-decoration: none;
    font-style: italic;
    background-color: lightblue;
    color: white;
    
}

.show-view {
 border-radius: 4px;
 width: 50%;
 background-color: lightgrey;
 padding-top: 50px;
 padding-bottom: 300px;
}

.markdown {
 margin-left: 50px;
 background-color: lightblue;
 width: 25%;
 padding: 30px;
}

.private {
 background-color: #506572;
 color: white;
 width: 100%;
 padding: 30px;
}
.plink:link {
 background-color: pink;
}
.plink:hover {
 color: pink;
}

//CHARGES

.charges-form {
 margin-top: 200px;
 margin-left: 50px;

}
.charges-form2 {
 margin-top: 200px;
}

// .user-nav {
//  color: purple;
//  font-family: Arial;
//  margin: 10px;
    
// }
// .navbar-link {
//     color: purple;
//     text-decoration: none;
//     margin: 10px;
// }
// .navbar-link:active {
//     background-color: purple;
//     color: white;
//     border-radius: 4px;
//     padding: 10px;
    
// }
// .navbar-link:hover {
//     background-color: purple;
//     color: pink;
//     border-radius: 4px;
//     padding: 10px;
// }

 