<h1>Are you sure you want to cancel your membership?</h1>





 <div class = "bottom-bar">
  <center>
   Contact | About us | Upgrade
   <br>
   <br>
   Donate | Help | Etc
   <br>
   <br>
   Search <input type="text" name="search"> <button>Submit</button>
  </center>
 </div>